{% extends 'ticket_and_review/base.html' %}
{% block content %}
    <div class="post create_ticket">
        <h2>Créer un ticket</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ ticket_form.as_p }}
            <p class="image_txt">Image</p>
            <br><br>
            <div class="fake-btn2">
                <p>Télécharger fichier</p>
            </div>
            <div class="save">
                <button class="save-btn1" type="submit">Envoyer</button>
            </div>
        </form>
    </div>
{% endblock content %}