{% extends 'ticket_and_review/base.html' %}
{% block content %}
    <div class="post create_autoreview">
        <h2>Créer une critique</h2>
        <p class="onglet">Livre/ Article</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Titre</p>
            <p>{{ form_ticket.title }}</p>
            <p>Description</p>
            <p>{{ form_ticket.description }}</p>
            <p>Image</p>
            <p>{{ form_ticket.image }}</p>
            <div class="fake-btn3">
                <p>Télécharger fichier</p>
            </div>
            <div class="trait2"><hr></div>
            <p class="onglet">Critique</p>
            <p>Titre</p>
            <p class="champs">{{ form_review.headline }}</p>
            <p>Note</p>
            {% for rate in form_review.rating %}
                {{ rate }}
            {% endfor %}
            <p>Commentaire</p>
            <p class="champs">{{ form_review.body }}</p>
            <br>
            <div class="save">
                <button class=
                    "save-btn3" type="submit">Envoyer</button>
            </div>
        </form>
    </div>
{% endblock content %}