{% extends 'ticket_and_review/base.html' %}
{% block content %}
    <h2 class="title">Modifier le billet</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="grid-container">
            <div class="post post-modif">
                {% csrf_token %}
                    <p>Titre</p>
                    <p class="champs">{{ edit_form.title }}</p>
                    <p>Description</p>
                    <p class="champs">{{ edit_form.description }}</p>
                    <p>Image</p>
                    {% if edit_form.image.value.url != None %}
                        <img src="{{ edit_form.image.value.url }}">
                     {% endif %}
                    <div class="invisible">{{ edit_form.image }}</div>

                <div class="fake-btn" type="submit" ><p>Télécharger fichier</p></div>
                <div class="save">
                    <button class="save-btn2" type="submit" >Envoyer</button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

