{% extends 'ticket_and_review/base.html' %}
{% block content %}

<form method="post" enctype="multipart/form-data">
     <div class="ticket_review">
            <p class="left_btn"><a href="{% url 'ticket_create' %}"><button type="button" name='ticket'>Demander une critique</button></a></p>
            <p class="right_btn"><a href="{% url 'signup' %}"><button type="button" name='review'>Créer une critique</button></a></p>
     </div>
    {% csrf_token %}
     <div class="grid-container">
        {% for post in posts %}
                <div class="post">
                    {% if post.user == request.user %}
                        <p><strong>Vous</strong> avez demandé une critique</p>
                    {% else %}
                        <p><strong>{{ post.user }}</strong> a demandé une critique</p>
                    {% endif %}
                    <p>{{ post.title }}</p>
                    <p class="date">{{ post.time_created }}</p>
                    <p class="content">{{ post.description | safe }}</p>
                    {% if post.image %}
                        <img src="{{ ticket.image.url }}">
                    {% endif %}

                    <p class="ticket_review corner_btn"><a href="{% url 'signup' %}"><button type="button" name='review'>Créer une critique</button></a></p>
                </div>
        {% endfor %}
    </div>
</form>
{% endblock content %}