{% extends 'ticket_and_review/base.html' %}
{% block content %}

<form method="post">
    {% csrf_token %}
     <div class="grid-container">
        {% for ticket in tickets %}
             {% if ticket.user == request.user %}
                <div class="post">
                        <p>Vous avez publié un ticket</p>
                        <h4>{{ ticket.title }}</h4>
                        <p class="date">{{ ticket.time_created }}</p>
                        <p class="content">{{ ticket.description | safe }}</p>
                        <img src="{{ ticket.image.image.url }}">
                        <div class="modif_sup_btn">
                            <p class="ticket_review modif_btn"><a href="{% url 'edit_ticket' ticket.id %}"><button type="button" name='review'>Modifier</button></a></p>
                            <p class="ticket_review modif_btn"><a href="{% url 'delete_ticket' ticket.id %}"><button type="button" name='review'>Supprimer</button></a></p>
                        </div>
                </div>
             {% endif %}
        {% endfor %}
    </div>
</form>
{% endblock content %}