{% extends 'ticket_and_review/base.html' %}
{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="grid-container">
        {% for post in posts %}
            {% if post.content_type == 'TICKET' and post.user == request.user %}
                <div class="post">
                    <p class="date">{{ post.time_created }}</p>
                    <p><strong>Vous</strong> avez publié un ticket</p>
                    <h4>{{ post.title }}</h4>
                    <p class="content">{{ post.description | safe }}</p>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="post-img">
                    {% endif %}
                    <div class="modif_sup_btn">
                        <p class="ticket_review modif_btn">
                            <a href="{% url 'edit_post' post.id %}" class="post-btn">
                                Modifier</a></p>
                        <p class="ticket_review modif_btn">
                            <a href="{% url 'delete_post' post.id %}" class="post-btn">
                                Supprimer</a></p>
                    </div>
                </div>
            {% elif post.content_type == 'REVIEW' and post.user == request.user %}
                <div class="post">
                    <p class="date">{{ post.time_created }}</p>
                    {% if post.user == request.user %}
                        <p><strong>Vous</strong> avez publié une critique</p>
                    {% else %}
                        <p><strong>{{ post.user }}</strong> a publié une critique</p>
                    {% endif %}
                    <div class="title-review-and-rating">
                        <div class="title-review"> <h4>{{ post.headline }}</h4></div>
                        {% if post.rating == 0 %}
                            <div class="rating"><p> - &#9734;&#9734;&#9734;&#9734;&#9734;<p></div>
                        {% elif post.rating == 1 %}
                            <div class="rating"><p> - &#9733;&#9734;&#9734;&#9734;&#9734;<p></div>
                        {% elif post.rating == 2 %}
                            <div class="rating"><p> - &#9733;&#9733;&#9734;&#9734;&#9734;<p></div>
                        {% elif post.rating == 3 %}
                            <div class="rating"><p> - &#9733;&#9733;&#9733;&#9734;&#9734;<p></div>
                        {% elif post.rating == 4 %}
                            <div class="rating"><p> - &#9733;&#9733;&#9733;&#9733;&#9734;<p></div>
                        {% elif post.rating == 5 %}
                            <div class="rating"><p> - &#9733;&#9733;&#9733;&#9733;&#9733;<p></div>
                        {% endif %}
                        <p class="content comment">{{ post.body | safe }}</p>
                        <div class="ticket_in_review">
                        <p class="date">{{ post.ticket.time_created }}</p>
                        <p>Ticket - <strong>{{ post.ticket.user }}</strong></p>
                        <p>{{ post.ticket.title }}</p>
                        <p>{{ post.ticket.description }}</p>
                        {% if post.ticket.image %}
                            <img src="{{ post.ticket.image.url }}" alt="ticket-img">
                        {% endif %}
                    </div>
                        <div class="modif_sup_btn">
                            <p class="ticket_review modif_btn">
                                <a href="{% url 'edit_post' post.id %}" class="post-btn">
                                   Modifier</a></p>
                            <p class="ticket_review modif_btn">
                                <a href="{% url 'delete_post' post.id %}" class="post-btn">
                                    Supprimer</a></p>
                        </div>
                    </div>
                </div>
                {% elif post.content_type == 'REVIEW' and post.ticket.user == request.user %}
                <div class="post">
                     <p class="date">{{ post.time_created }}</p>
                     <p><strong>Vous</strong> avez publié une critique</p>
                    <div class="title-review-and-rating">
                        <div class="title-review"> <h4>{{ post.headline }}</h4></div>
                        {% if post.rating == 0 %}
                            <div class="rating"><p> - &#9734;&#9734;&#9734;&#9734;&#9734;<p></div>
                        {% elif post.rating == 1 %}
                            <div class="rating"><p> - &#9733;&#9734;&#9734;&#9734;&#9734;<p></div>
                        {% elif post.rating == 2 %}
                            <div class="rating"><p> - &#9733;&#9733;&#9734;&#9734;&#9734;<p></div>
                        {% elif post.rating == 3 %}
                            <div class="rating"><p> - &#9733;&#9733;&#9733;&#9734;&#9734;<p></div>
                        {% elif post.rating == 4 %}
                            <div class="rating"><p> - &#9733;&#9733;&#9733;&#9733;&#9734;<p></div>
                        {% elif post.rating == 5 %}
                            <div class="rating"><p> - &#9733;&#9733;&#9733;&#9733;&#9733;<p></div>
                        {% endif %}
                    </div>
                    <p class="comment2">{{ post.body | safe }}</p>
                    <div class="ticket_in_review">
                        <p class="date">{{ post.time_created }}</p>
                        <p>Ticket - <strong>Vous</strong></p>
                        <p>{{ post.ticket.title }}</p>
                        <p>{{ post.ticket.description }}</p>
                        {% if post.ticket.image %}
                            <img src="{{ post.ticket.image.url }}" alt="ticket-img">
                        {% endif %}
                    </div>
                        <div class="modif_sup_btn">
                            <p class="ticket_review modif_btn">
                                <a href="{% url 'edit_post' post.id %}" class="post-btn">
                                    Modifier</a></p>
                            <p class="ticket_review modif_btn">
                                <a href="{% url 'delete_post' post.id %}" class="post-btn">
                                    Supprimer</a></p>
                        </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</form>
{% endblock content %}