{% extends 'ticket_and_review/base.html' %}
{% block content %}
    <div class="post">
        <h2>Suivre d'autres utilisateurs</h2>
        <form method="post" >
            {% csrf_token %}
            {% if messages %}
  {% for message in messages %}
    {{ message }} <br>
  {% endfor %}
{% endif %}
            <div class="search">
                <input class="search_input" type="text" name="name" placeholder="Nom de l'utilisateur">
                <button class="search_btn" type="submit" >Envoyer</button>
            </div>
        </form>
        <br>

        <h2>Abonnements</h2>
        {% for followed in users_followed %}
            <div class="unfollow">
                <div class="unfollow_user"> {{ followed.followed_user }}</div>
                <div class="unfollow_btn"><a href="{% url 'unfollow' followed.id %}" class="post-btn">Désabonner</a></div>
            </div>
        {% endfor %}
        <br>

        <h2>Abonnés</h2>
        {% for follower in users_followers %}
            <div class="followed">
                <div class="followed_user">{{ follower.user }}</div>
            </div>
        {% endfor %}
        </form>
        <br>
    </div>
    <div class="trait"><hr></div>
{% endblock content %}