{% extends 'ticket_and_review/base.html' %}
{% block content %}
    <div class="post">
        <h2>Suivre d'autres utilisateurs</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ subcription_form.as_p }}
            {{ request.user }}
            {{ subcription_form.users }}
            {% for UserFollows in user.following.all %}
                {{ request.user }}
                {{ user }}
            {% endfor %}

            <div class="save">
                <button class="save-btn" type="submit" >Envoyer</button>
            </div>
        </form>
    </div>
{% endblock content %}